package templates

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="ja">
		<head>
			<meta charset="UTF-8"/>
			<title>{ title }</title>
			<script src="https://unpkg.com/htmx.org@2.0.8"></script>
			<link href="/static/css/global.css" rel="stylesheet"/>
		</head>
		<body class="bg-gray-100 min-h-screen">
			{ children... }
		</body>
	</html>
}
