package templates

templ Header() {
	<div class="navbar bg-primary text-primary-content shadow-lg mb-8">
		<div class="container mx-auto">
			<div class="flex-1">
				<a href="/" class="btn btn-ghost text-xl normal-case">GOTH IPAM</a>
			</div>
			<div class="flex-none">
				<ul class="menu menu-horizontal px-1">
					<li><a href="/">Dashboard</a></li>
				</ul>
			</div>
		</div>
	</div>
}
